<h4>
  Internal Server error - refreshing the page will make the error disappear
</h4>

<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">Note: not angular</p>
  <p>What to do next</p>
  <ol>
    <li>Open chrome dev tools</li>
    <li>Examine request Url</li>
    <li>Reproduce in Postman</li>
  </ol>
  <p style="font-weight: bold">Following is the stack trace</p>
  <code class="mt-5" style="background-color: whitesmoke">
    {{ error.description }}
  </code>
</ng-container>
